{% comment %} 
 <!-- ARCHIVO QUE SIRVE PARA LA PAGINACIÒN DE LA LISTA DE MUEBLES EN:
 CunasCategoryTemplateView.html
 ComedoresCategoryTemplateView.html
 CocinasCategoryTemplateView.html
 ChifoniersCategoryTemplateView.html
 --> 
 {% endcomment %}

                    <div id="pagination">
                        {% if is_paginated %}
                            <ul class="clear-after reset plain">
                                {% if page_obj.has_previous %}
                                    <li id="older" class="pagination-nav">
                                        <a href="?page={{ page_obj.previous_page_number }} " class="button transparent aqua">
                                            <i class="fa fa-chevron-left"></i>
                                                <span class="label">Anterior</span>
                                            </a>
                                    </li>
                                {% else %}
                                    <li id="older" class="pagination-nav">
                                        <a href="#" class="button transparent aqua">
                                            <i class="fa fa-chevron-left"></i>
                                                <span class="label">Anterior</span>
                                            </a>
                                    </li>                                
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li id="newer" class="pagination-nav">
                                        <a href="?page={{ page_obj.next_page_number }} " class="button transparent aqua">
                                            <span class="label">Siguiente</span>
                                                <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div><!-- pagination -->