                        <ul class="reset" role="navigation">
                            <li class="menu-item"><a href="{% url 'comedores' %}" alt="Comedores" title="Comedores">Comedores</a></li>
                            <li class="menu-item"><a href="{% url 'cocinas' %}" alt="Cocinas" title="Cocinas">Cocinas</a>
                                <!--<ul class="sub-menu">
                                    <li><a href="works-4-columns.html">Men&uacute; Uno</a></li>
                                </ul>-->
                            </li>
                            <li class="menu-item"><a href="{% url 'chifoniers' %}" alt="Chifoniers" title="Chifoniers">Chifoniers</a>
                                <!--<ul class="sub-menu">
                                    <li><a href="blog-4-columns-masonry.html">Men&uacute; Uno</a></li>
                                </ul>-->
                            </li>
                            <li class="menu-item"><a href="{% url 'cunas' %}" alt="Cunas" title="Cunas">Cunas</a>
                                <!--<ul class="sub-menu">
                                    <li><a href="home-01.html">Men&uacute; Uno</a></li>
                                </ul>-->
                            </li>
                            <li class="menu-item"><a href=" {% url 'contacto' %}" alt="Contacto" title="Contacto">Contacto</a>
                                <!--<ul class="sub-menu">
                                    <li><a href="search.html">Men&uacute; Uno</a></li>
                                    <li>
                                        <a href="#">Sub Menu</a>
                                        <ul class="sub-menu"><li><a href="#">Men&uacute; Uno</a></li>
                                        </ul>
                                    </li>
                                </ul>-->
                            </li>
                            <li class="menu-item"><a href="contact.html">PyR</a></li>
                        </ul>